[credential]
	helper = cache
[user]
	name = Milo
	email = milo.christiansen@gmail.com
	signingkey = 0x6AE9716B068C0647
[color]
	ui = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[commit]
	gpgsign = true
