[credential]
	helper = cache
[user]
	name = Milo
	email = milo.christiansen@gmail.com
	signingkey = 0x6AE9716B068C0647
[color]
	ui = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = true
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = master
[safe]
	directory = /home/milo/.var/app/com.core447.StreamController/data/plugins/com_core447_Clocks
	directory = /home/milo/.var/app/com.core447.StreamController/data/plugins/com_core447_Clocks
